<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Waat Category"
            id="br.com.ceut.waat.menu.commands.category">
      </category>
      <command
            name="Generate Tests"
            categoryId="br.com.ceut.waat.menu.commands.category"
            id="br.com.ceut.waat.menu.commands.generateTests">
      </command>
      <command
            categoryId="br.com.ceut.waat.menu.commands.category"
            id="br.com.ceut.waat.menu.commands.generateInterfaces"
            name="Generate Interfaces">
      </command>
      <command
            categoryId="br.com.ceut.waat.menu.commands.category"
            id="br.com.ceut.waat.menu.commands.generateGlossary"
            name="Generate Glossary">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.com.ceut.waat.menu.handlers.UseCaseHandler"
            commandId="br.com.ceut.waat.menu.commands.generateTests">
      </handler>
      <handler
            class="br.com.ceut.waat.menu.handlers.InterfacesHandler"
            commandId="br.com.ceut.waat.menu.commands.generateInterfaces">
      </handler>
      <handler
            class="br.com.ceut.waat.menu.handlers.GlossaryHandler"
            commandId="br.com.ceut.waat.menu.commands.generateGlossary">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.ceut.waat.menu.commands.generateTests"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="br.com.ceut.waat.menu.commands.generateInterfaces"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="br.com.ceut.waat.menu.commands.generateGlossary"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="WAAT"
               mnemonic="M"
               id="br.com.ceut.waat.menu.menus.waatMenu">
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateGlossary"
                  icon="icons/glossary_icon.png"
                  id="br.com.ceut.waat.menu.menus.generateGlossary"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.glossaryeditor.editors.GlossaryEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateInterfaces"
                  icon="icons/userinterface_icon.png"
                  id="br.com.ceut.waat.menu.menus.generateInterfaces"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.waat.interfaceeditor.editors.InterfaceEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateTests"
                  icon="icons/use_case_icon.png"
                  id="br.com.ceut.waat.menu.menus.generateTests"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.usecaseeditor.editors.UseCaseEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.com.ceut.waat.menu.toolbars.generateTestsToolbar">
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateTests"
                  icon="icons/use_case_icon.png"
                  id="br.com.ceut.waat.menu.toolbars.generateTests">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.usecaseeditor.editors.UseCaseEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.com.ceut.waat.menu.toolbars.generateInterfaceToolbar">
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateInterfaces"
                  icon="icons/userinterface_icon.png"
                  id="br.com.ceut.waat.menu.toolbars.generateInterfaces"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.waat.interfaceeditor.editors.InterfaceEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.com.ceut.waat.menu.generateGlossary">
            <command
                  commandId="br.com.ceut.waat.menu.commands.generateGlossary"
                  icon="icons/glossary_icon.png"
                  id="br.com.ceut.waat.menu.toolbars.generateGlossary"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="br.com.ceut.glossaryeditor.editors.GlossaryEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
