<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Use Case Editor"
            extensions="usecase"
            icon="icons/use_case_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="br.com.ceut.usecaseeditor.editors.UseCaseEditor"
            id="br.com.ceut.usecaseeditor.editors.UseCaseEditor">
      </editor>
   </extension>

</plugin>
