<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Interface Editor"
            extensions="userinterface"
            icon="icons/userinterface_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="br.com.ceut.waat.interfaceeditor.editors.InterfaceEditor"
            id="br.com.ceut.waat.interfaceeditor.editors.InterfaceEditor">
      </editor>
   </extension>

</plugin>
